html, body{
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: #6F3A1B;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    
}


h1{
    font-family: "Vina Sans";
}

article{
    font-family: "Karla";
    background-color: #1B506F;
    color:aliceblue;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


main{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: space-around; 
}

img{
    width: 150px;
    border-radius: 100%;
}

footer{
    color: aliceblue;
    display: flex;
    justify-content: center;
    background-color: #6F3A1B;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}